*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
.col{
    width: 60%;
    margin: auto;

}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 1;
   
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    float: left;
}
.navbar ul li a{
    text-decoration: none;
    padding: 16px 20px;
    display: block;
    color: white;
}
.navbar ul li a:hover{
    background-color: cornsilk;
    color:green;
}
.navbar ul a{
    float: right;
}
.navbar ul a i{
    padding: 16px 16px;
    
}

.navbar ul a i:hover{
    background-color: red;
    color: white;
}
.dropdown{
    position: relative;
   
}
.dropdown-content {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 50px;
     
}
.dropdown:hover .dropdown-content{
    display: block;
    }

    
    .dropdown:hover a{
        width: 140px;
        background-color: teal;
        padding: 16px 20px;
        display: block; 
    }
    

    .container{
        width: 100%;
       overflow: hidden;
       
        
    }
    .slidebox{
        width: 300%;
        height: auto;
        position: relative;
        left: 0px;
        animation:slideranimation 5s infinite ;
    }
    .slidebox img{
        float: left;
        width: 33.33%;
        height: 100vh;

    }
    
   @keyframes slideranimation{
      0%{
        left: 0%;
      }
      50%{
          left: -100%;
      }
      100%{
          left:-200% ;
      }
       
    }
    .theband{
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 40px;
    }

    .bandtext{
        padding: 20px;
        margin-bottom: 30px;
    }
    
    .bandtext h2{
        text-align: center;
        margin-bottom: 10px;
        
    }
    .bandtext p{
        text-align: center;
        text-align: justify;
    }
    p.lovemusic{
        font-style: italic;
        text-align: center;
        margin-bottom: 10px;
    }

    
    .name1{
        width: 30%;
        float: left;
        margin-right: 5%;
    }
    .name2{
        width: 30%;
        float: left;
        margin-right: 5%;
    }
    .name3{
        width: 30%;
        float: left;
    }
    .name1 img{
        width: 100%;
        
    }
    .name2 img{
        width: 100%;
    }
    .name3 img{
        width: 100%;
    }
    .contract{
        width: 100%;
        height: auto;
        padding: 40px;
        overflow: hidden;
        background-color: violet;
    }
    .contracttext{
        padding: 20px;
    }
    .contracttext h1{
        text-align: center;
        margin-bottom: 10px;
    }
    .contracttext p{
        text-align: center;
    }
    .location{
        width: 50%;
        float: left;
    }
    .location a{
        display: block;
        padding: 5px;
        text-decoration: none;
    }
    .location a i{
        padding-right: 10px;
    }
    .from{
        width: 50%;
        float: left;
    }
    .nameemail{
        width: 100%;
        margin-bottom: 10px;
    }
    .nameemail input[type=text]{
        width: 48%;
        float: left;
        padding: 5px;
        margin-right:4%;
    }
    .nameemail input[type=email]{
        width: 48%;
        float: left;
        padding: 5px;
    }
    .massage input[type=text]{
        width: 100%;
        float: left;
        padding: 5px;
        margin: 10px 0;
    }
    .sendbt button{
        float: right;
        padding: 5px;
    }
    .sendbt button:hover{
        background-color: teal;
        color: yellow;
    }


    .map{
        width: 100%;
        height: 1200px;
        background-color: burlywood;
    }
    .map img{
        width: 100%;
        height: 100%;
    }
    .footer{
        width: 100%;
        height: 340px;
        background-color: bisque;
        padding: 40px;
        
    }
    .socialicons{
        width: 100%;
        margin: auto;
       text-align: center;
        

    }
    .socialicons {
        list-style-type: none;
        font-size: 20px;
        display: block;
        margin: auto;
        width: 40%;  
    }
    .socialicons a:hover{
        
        color: thistle;
        
    }
    
    .text{
        width: 100%;
        margin: auto;
    }
    .text p{
        padding: 20px 30px;
        font-size: 20px;
        text-align: center;
    }
   
    .text span{
        text-decoration: underline;
        
    }


      